body {
    font-family:'Franklin Gothic Medium','Arial Narrow',sans-serif;
    font-size:16px; 
    line-height: 1.5;
    background-color:cornsilk;
    background-image:url(../images/white_brick_wall.png);
    background-repeat:no-repeat;
    background-position: 100px 100px;
}

header {
    color:lightblue;
    background-color:darksalmon;
    background-image:url(../images/bread.jpg);
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.bolded {
    font-weight: 800;
}

.uppercase {
    text-transform: uppercase;

}

.italics {
    font-style: italic;
}

